:root {
  --background-color: #181818;
  --text-color: #ffffff;
  --accent-color: #1DB954;
  --hover-color: #1ED760;
  --shadow-color: rgba(0, 0, 0, 0.5);
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  line-height: 1.6;
  transition: all 0.3s ease;
}

.main-header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--background-color);
  z-index: 100;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 2px 4px var(--shadow-color);
}

.logo a,
.nav-link a {
  color: var(--accent-color);
  text-decoration: none;
  transition: color 0.2s ease;
  padding: 10px;
}

.logo a:hover,
.nav-link a:hover {
  color: var(--hover-color);
}

.hamburger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.hamburger-menu div {
  width: 2rem;
  height: 0.25rem;
  background-color: var(--text-color);
}

.nav-links {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  margin: 0;
  transition: transform 0.3s ease-in-out;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('titanclass1.jpg');
  background-color: var(--background-color);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
  color: var(--text-color);
  text-shadow: 2px 2px 4px var(--shadow-color);
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.cta-button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background-color: var(--accent-color);
  color: var(--text-color);
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.2s ease;
  box-shadow: 0 2px 4px var(--shadow-color);
}

.cta-button:hover {
  background-color: var(--hover-color);
}

@media (max-width: 768px) {
  .nav-links {
    transform: translateY(-100%);
  }

  .nav-active {
    transform: translateY(0);
  }

  .hamburger-menu {
    display: flex;
  }
}
